# ============================================================================ #
#                            Build / Dist / Output                             #
# ============================================================================ #

build/
node_modules/
builds/
dist/
docs/static/
clients/ts/*-client/
clients/go/*client/
servers/go/*-server/
servers/java/*-server/
clients/**/src/gen/
clients/**/*.gen.go
servers/**/*.gen.go
servers/**/build/
dev-dist/
out/
logs/
.vitest/
coverage/
*.tsbuildinfo

# ============================================================================ #
#                              Environment / Misc                              #
# ============================================================================ #

*.env*
!*.env.example
*~
.directory
*.pem
.project-structure.txt
openapitools.json

# ============================================================================ #
#                                 IDE / Editor                                 #
# ============================================================================ #

.idea/
.vscode/
*.iml
*.ipr
*.iws

# ============================================================================ #
#                                 OS-specific                                  #
# ============================================================================ #

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Linux
.Trash-*
.fuse_hidden*
.nfs*

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk
